/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2015, 7:06:04 PM
    Author     : AlyssaMOrrow
*/

/* imports */
@import 'colors';

html,body {
  height: 100%;
  margin: 0;
  font-family: 'RobotoDraft', sans-serif;
}

.container {
  width: 80%;
  margin: 50px auto;
}

/* buttons */

.btn-facebook {
    background-color: $facebook-dark;
    color: $facebook-light;
}
.btn-login {
   background-color: $login-red;
   color: white;   
}

#page-login {
    .fa-facebook {
	border-right: 1px solid white;
	margin-right: 5px;
	padding-right: 5px;
    }
    
    .btn {
	width: 100%;
    }
}